<%- model_class = Editor -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>タイトル</th>
      <th>作成日</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @editors_all.each do |editor| %>
      <tr>
        <td><%= editor.user.name %></td>
        <td><%= editor.title %></td>
        <td><%= editor.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      editor_path(editor), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>