<%- model_class = Editor -%>
<div class = 'title'>
  <%= @editor.title.html_safe %>
</div>
<hr>
<div class = 'description'>
  <%= @editor.description.html_safe %>
</div>
<hr>
<div class = 'question'>
  <%= render "problems/problem", problems: @problems %>
</div>

<hr style="border:0;border-top:1px double red;">
<%= link_to t('.back', :default => t("helpers.links.back")),
              editors_path, :class => 'btn btn-default'  %>
<% if current_user == @editor.user %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_editor_path(@editor), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                editor_path(@editor),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
<%= render "likes/like", editor: @editor %>